.Grid {
<<<<<<< HEAD
  height: 80vh;
  width: 80vh;
  column-gap: 1vh;
  row-gap: 1vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;

}
