@mixin grid-template($colValue, $rowValue) {
    margin: 2%;
    height: 80%;
    width: 80%;
    column-gap: 3%;
    row-gap: 3%;
    display: grid;
    grid-template-columns: repeat($colValue, 1fr);
    grid-template-rows: repeat($rowValue, 1fr);
    justify-content: center;
}

.GridFour {
    @include grid-template(2, 2)
}

.GridSixteen {
    @include grid-template(4, 4)
}

.GridThirtySix {
    @include grid-template(6, 6)
}

