
.Grid {
  height: 400px;
  column-gap: 10px;
  row-gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, 280px));
  grid-template-rows: repeat(4, minmax(280px, 280px));
  justify-content: center;

}
