@mixin container-template ($size){
  min-height: $size;
  min-width: $size;
  display: flex;
  margin: 0 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
}

.countBlock {
  background: #2d4454;
  height: 5vh;
  width: 300px;
  border-radius: 10px;
  color: white;
  margin: 10px;
}

.exitButton {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  margin: 5px 5px;
  background-color: #454545;
  font-size: 12px;
  color: white;
}

.MenuContainer {
  @include container-template(70vh);

  transition: 0.8s;
  border: 1px solid #000;
  .countBlock {
    display: none;
  }
  .exitButton {
    display: none;
  }
}

.GameContainer {

  transition: 1s;
  transform: scale(1.1);
  @include container-template(85vh);
  .countBlock {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .exitButton {
    display: inline-block;
  }
}


