.Card {
  &__closed {
    background: #afbccf;
  }
  &__open {
    &__RED {
      background: #ffafa3;
    }
    &__GREEN {
      background: #85e0a3;
    }
    &__BLUE {
      background: #80caff;
    }
    &__YELLOW {
      background: #ffd966;
    }
    &__ORANGE {
      background: #ffc470;
    }
    &__VIOLET {
      background: #d9b8ff;
    }
    &__PINK {
      background: #ffbdf2;
    }
    &__TEAL {
      background: #75d7f0;
    }
  }
}
