.Card {
  transition: 0.5s;
  border-radius: 2vh;
  &__blocked {
    background: url("../../data/images/card-shirt.jpeg") center center no-repeat;
    background-size: contain;
  }
  &__closed {
    background: url("../../data/images/card-shirt.jpeg") center center no-repeat;
    background-size: contain;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  &__open {
    @for $i from 0 through 17 {
      &__#{$i} {
        background: url("../../data/images/#{$i}.jpeg") center center no-repeat;
        background-size: contain;
    }
  }
  }
}
